body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.story-text {
  white-space: pre-wrap;
  /*preserve white space on new lines, spaces and tabs, and also wraps text*/
}
