body, html {
  height: 100%;
}

.story-title {
  padding-top: 10%;
  padding-bottom: 5%;
  color: black;
  font-size: xx-large;
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
}

.byline {
  text-shadow: none;
  font-size: large;
}

.center {
  text-align: center;
}

.story-text {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: large;
  white-space: pre-wrap;
  /*preserve white space on new lines, spaces and tabs, and also wraps text*/
}

.the-end {
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: large;
  padding-top: 10%;
  padding-bottom: 10%;
}


/* for parallax images */
.background {
    width: 100%;
    height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    /*fixed background-attachment is what gives the image the parallax effect*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 350px;
}


.sexy-wine {
    background-image: url(assets/sexy-wine.jpg);
    background-size: contain;
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}


.background-pinball-machine {
    background-image: url(assets/pinball-machine.jpg);
}

.background-white-to-black-gradient {
    min-height: 650px;
    background-image: url(assets/transparent-square.jpg);

    /*background: linear-gradient(to bottom, white, black); */

    background: linear-gradient(to bottom, rgba(0,0,0, 0), 35%, rgba(0,0,0, 1));
    /* above, black 0 opacity to black 1 opacity, change at 35% */
}


.background-smoking-red-lips {
    background-image: url(assets/smoking-red-lips.gif);
    min-height: 650px;
    background-size: cover;
    /*background-size: contain;*/
    background-color: black;
}

.background-red-blood-cells {
    background-image: url(assets/red-blood-cells.gif);
    /*min-height: 650px;*/
    background-size: cover;
    /*background-size: contain;*/
    background-color: black;
}

.background-red-sauce {
    background-image: url(assets/red-sauce.gif);
    min-height: 650px;
    background-size: cover;
    /*background-size: contain;*/
    background-color: black;
}


.fade {
  opacity: 1;
}



/* screen size changing image, below */


/*small*/
@media screen and (max-width: 767px) {
  .story-title {
    color: black;
    /*text-shadow: 1px 1px 2px red;*/
  }
}

/*medium*/
@media screen and (min-width: 768px) {
  .story-title {
    color: black;
    /*text-shadow: 1px 1px 2px blue;*/
  }
  .story-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*large*/
@media screen and (min-width: 992px) {
  .story-title {
    color: black;
    /*text-shadow: 1px 1px 2px red;*/
  }
  .story-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*extra-large*/
@media screen and (min-width: 1200px) {
  .story-title {
    color: black;
    /*text-shadow: 1px 1px 2px blue;*/
  }
  .story-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}
