body, html {
  height: 100%;
}

.story-title {
  padding-top: 50px;
  /*padding: 40px 15px;*/
  text-align: center;
}

.story-text {
  white-space: pre-wrap;
  /*preserve white space on new lines, spaces and tabs, and also wraps text*/

  /*add margin to left and right here, but not in images */
  /*only for large screen... default padding/margin looks good on mobile*/
}


/*also for parallax pix, can condense this code*/
.background {
    width: 100%;
    height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    /*fixed background-attachment is what gives the image the parallax effect*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 350px;
}


.background-pinball-machine {
    background-image: url(assets/pinball-machine.jpg);
}

.background-white-to-black-gradient {
    min-height: 650px;
    background-image: url(assets/transparent-square.jpg);
    background: linear-gradient(to bottom,
      rgba(0,0,0, 0), 35%, /* black, 0 opacity, changes color at 45% */
      rgba(0,0,0, 1)); /* black, 1 opacity */
}


.background-smoking-red-lips {
    background-image: url(assets/smoking-red-lips.gif);
    min-height: 650px;
    background-size: cover;
    /*background-size: contain;*/
    background-color: black;
}

.background-red-blood-cells {
    background-image: url(assets/red-blood-cells.gif);
    /*min-height: 650px;*/
    background-size: cover;
    /*background-size: contain;*/
    background-color: black;
}

.background-red-sauce {
    background-image: url(assets/red-sauce.gif);
    min-height: 650px;
    background-size: cover;
    /*background-size: contain;*/
    background-color: black;
}


.fade {
  opacity: 1;
}



/*testing screen size changing image, below*/

#main-img {
  height: 250px;
  width: 100%;
}

/*small*/
@media screen and (max-width: 767px) {
  #main-img {
    background-color: black;
  }
}

/*medium*/
@media screen and (min-width: 768px) {
  #main-img {
    background-color: blue;
  }
  .story-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*large*/
@media screen and (min-width: 992px) {
  #main-img {
    background-color: green;
  }
  .story-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*extra-large*/
@media screen and (min-width: 1200px) {
  #main-img {
    background-color: red;
  }
  .story-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}
